@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.divider {
  border-top: 2px solid #ffffff; /* Adjust the border properties as needed */
  margin-top: 20px; /* Adjust the margin to control the spacing above the divider */
  margin-bottom: 20px; /* Adjust the margin to control the spacing below the divider */
}

.custom-text {
  font-size: 18px; /* Adjust the font size to your preference */
  /* Other styles go here */
}

body.dark-mode {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}
